.aboutContainer {
	min-height: calc(100vh - 110px);
	display: flex;
	background-image: url('E:\\Programming\\Stardust_Images\\website\\src\\img\\image1.jpeg');
	object-fit: cover;
}

.aboutRow {
	justify-content: center;
	align-self: center;
}

.aboutPhoto{
	text-align: center;
	align-self: center;
}

.aboutText {
	text-align: center;
	align-self: center;
}

.aboutImage {
	height: 70vh;
}
