@font-face {
	font-family: 'Bradley Hand ITC';
	src: local('BRADHITC'), url(../fonts/BRADHITC.TTF) format('truetype');
}

.errorContainer {
	margin-top: 10px;
	min-height: calc(100vh - 120px);
	display: flex;
}

.messageContainer {
    margin: auto;
}

.errorMessage {
    font-weight: bold;
}

.homeLink {
    font-weight: bold;
}

body {
    font-family: 'Bradley Hand ITC';
}