.galleryCard {
	width: 100%;
	padding-top: 0.75%;
	padding-bottom: 0.75%;
}

.galleryCard:hover {
	opacity: 0.4;
	cursor: pointer;
}

.galleryCardImage {
	/* width: 100%; */
	height: 20vh;
}

.exhibitionsRow {
	align-self: center;
}

.exhibitionContainer {
	min-height: calc(100vh - 110px);
	display: flex;
}

.modal {
	display: inline;
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.modalImage {
	width: 100%;
}

.modalImage2 {
	width: 44.5%;
}

.purchase {
	text-align: center;
	align-self: center;
}

.selectBox {
	margin-left: 2%;
}