footer {
	background-color: #f5f5f5;
	font-style: italic;
}

.facebook {
	float: left;
	margin-left: 40%;
	margin-top: 2px;
	size: large;
}

.instagram {
	float: right;
	margin-right: 40%;
	margin-top: 2px;
}

.Column {
	text-align: center;
}

.instagram:hover {
	opacity: 0.4;
}

.facebook:hover {
	opacity: 0.4;
}