@import url(//fonts.googleapis.com/css?family=Pacifico);

.imageCard {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: flex;
}

.imageCard:hover {
	opacity: 0.4;
}

.imageCardText {
	font-family: 'Pacifico';
	padding: 10px;
	outline: none;
}

.imageCardImage {
	width: 100%;
}

.galleryRow {
	align-self: center;
}

a {
	color: black;
}

a:hover {
	color: black;
}

.galleryContainer {
	margin-top: 10px;
	min-height: calc(100vh - 120px);
	display: flex;
}




