.bag-container {
    color: grey;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-align: center;
    display: inline-flex;
}

.NavBar2 {
    background-color: #dfeff9;
}

/* .navbar-light .navbar-nav .nav-link {
    color: white
} */