.bag-container {
    color: grey;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-align: center;
    display: inline-flex;
}

.NavBar2 {
    background-color: #7EC8E3;
}